.announcement {
	background: #6e6e6e;
	border-radius: $borderRadius;
	color: #e9e9e9;
	padding: 1em;
	width: 100%;

	h1,
	h2,
	h3,
	h4 {
		color: #e9e9e9;
	}

	.cta {
		color: #fdc331;
	}
}

.bleed-section {
	width: calc(100% + 130px);
}

.position-container {
	font-size: 15.75px;
	line-height: 2em;
	margin-bottom: 3em;

	.name {
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
	}
}

.media-info-block {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;

	aside {
		color: #fff;
		position: absolute;
		left: 2.5em;
		bottom: 2.5em;

		h1,
		h2,
		h3,
		h4 {
			color: #fff;
		}

		p {
			margin-bottom: 0;
		}
	}
}

.statistic-subtext {
	color: #fdc331;
	font-weight: bold;
	position: relative;
	font-size: 120px;

	.subtext {
		color: #4b4b4b;
		font-size: 14px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateX(80%);
		text-shadow: -1px -1px 0 #fff, 2px -1px 0 #fff, -1px 2px 0 #fff,
			2px 2px 0 #fff;
		white-space: nowrap;
		font-style: italic;
		text-align: right;
	}
}
