.staff-collection {
	display: flex;

	.staff-padding-container {
		padding: 0.5em;
		box-sizing: border-box;
		width: 50%;
	}

	.staff {
		background-repeat: none;
		background-size: cover;
		border-radius: $borderRadius;
		display: flex;
		flex-direction: column;
		height: 350px;
		justify-content: space-between;
		padding: 1em;
		position: relative;
		width: 100%;
		box-shadow: 0 8px 24px rgba(31, 31, 31, 0.15);

		&.read-bio-active {
			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				background: rgba(255, 255, 255, 1);
				z-index: 2;
				left: 0;
				top: 0;
			}

			.staff-bio {
				opacity: 1;
			}

			footer {
				.read-bio-container {
					.read-bio-trigger-active {
						display: none;
					}

					.read-bio-trigger-inactive {
						display: block;
					}
				}
			}
		}

		&.contact-active {
			footer {
				.contact-info {
					opacity: 1;
					visibility: visible;
				}

				.read-bio-container,
				.contact-container {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&.full-time {
		}

		&.part-time {
			header {
				color: #fff;

				.position {
					color: rgba(255, 255, 255, 0.8);
				}
			}
		}

		header {
			color: #1f1f1f;
			z-index: 5;

			.name {
				font-size: 19.25px;
				line-height: 28px;
				font-weight: bold;
			}

			.position {
				font-size: 11px;
			}
		}

		.staff-bio {
			font-size: 14px;
			height: 250px;
			line-height: 1.2;
			opacity: 0;
			overflow: scroll;
			padding: 0.5em 0;
			transition: $transitionDefault;
			z-index: 3;
		}

		footer {
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			font-size: 13px;
			z-index: 5;
			position: relative;
			padding: 1em 0 0;

			.contact-info {
				color: #fdc331;
				display: flex;
				font-weight: bold;
				height: 100%;
				justify-content: space-between;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				opacity: 0;
				visibility: hidden;
				transition: $transitionDefault;
			}

			aside:hover {
				cursor: pointer;
			}

			.read-bio-container {
				color: #fdc331;

				.read-bio-trigger-inactive {
					display: none;
				}
			}
		}
	}
}
