// global
.entry-title {
	display: none;
}

article.type-page {
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #6e6e6e;
		font-weight: bold;
	}
}

.accounting {
	@import './variables';

	// global
	@import './utilities';
	@import './typography';

	// components
	@import './components/components';

	@import './components/card';
	@import './components/feature_list';
	@import './components/industry_links';
	@import './components/links_container';
	@import './components/media_section';
	@import './components/statistic';
}
